<% @activities.each do |activity| %>
  <div class="activity">
    <b><%= activity.owner.username if activity.owner %></b>
    <%= get_activity_trackable_content activity %>
    <em><%= time_ago_in_words activity.created_at %></em>
  </div>
<% end %>
