<div class="row">
  <h2><%= t "book.favorite.title" %></h2>
  <div class="row">
    <% @favorites.each do |favorite| %>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= link_to get_image(favorite.book), favorite.book %>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 favorite-title">
          <%= link_to favorite.book.title, favorite.book %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @favorites %>
</div>
