@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
  background-color: #F5F5F5;
}

section {
  overflow: auto;
}

select {
  width:250px;
  padding:8px;
  background-color:#FFFFFF;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* stat */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* rating */

.rating {
  margin: auto left;
}

li.rating_star {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: image-url("star.gif") 0 0;
}

li.rating_star.on {
  background: image-url("star.gif") 0 16px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.btn-sign-up{
  text-align: center;
  margin-top: 20px;
}

.alert {
  list-style: none;
}

.alert-success {
  border-left: 3px solid #00C040;
}

.alert-warning, .alert-danger, .alert-error {
  border-left: 3px solid rgba(192, 35, 0, 0.79);
}

.book-detail-shadow{
  -webkit-box-shadow: 8px 8px 8px #7C7C7C;
  box-shadow: 8px 8px 8px #7C7C7C;
}

.title{
  font-size: 36px;
  line-height: 48px;
  font-family: "FiraSansHeavy";
  color: #333;
  margin-bottom: 15px;
  margin-top: 15px;
}

.module-title{
  font-size: 24px;
  line-height: 48px;
  font-family: "FiraSansHeavy";
  color: #333;
}

.paper{
  background: #fdfbe9;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  padding: 6px 5px 4px 23px;
}

.review-list{
  list-style: none;
}

.review-list-li{
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

#list-users {
  table {
    background-color: white;
    border: 1px solid #ccc;
  }
}

.btn-mark-book{
  form{
    display: inline;
  }

  input{
    display: inline;
    color: white;
  }

  .btn-read{
    display: inline;
  }

  .btn-read{
    input:hover{
      background-color: #5cb85c;
      border-color: #4cae4c
    }
  }

  .btn-reading{
    display: inline;
  }

  .btn-reading{
    input:hover{
      background-color: #5bc0de;
      border-color: #46b8da;
    }
  }

  .btn-favorite{
    display: inline;
  }

  .btn-favorite{
    input:hover{
      background-color: #f0ad4e;
      border-color: #eea236;
    }
  }

  .btn-marked-read{
    display: inline;
    input{
      background-color: #5cb85c;
      border-color: #4cae4c
    }
  }

  .btn-marked-reading{
    display: inline;
    input{
      background-color: #5bc0de;
      border-color: #46b8da;
    }
  }

  .btn-marked-favorite{
    display: inline;
    input{
      background-color: #f0ad4e;
      border-color: #eea236;
    }
  }
}

.favorite-title{
  margin-top: 10px;
  text-align: center;
}
